{% extends 'base.html'%}
{% import 'macros.html' as macro%}

 <!--Content block-->  
    {% block content %}    
 <div class="container">
     <!--Entertainment News-->
 <h3>Entertainment News Sources</h3>
 <ul>
    {{ macro.displaySourceList(entertianment_sources)}}
 </ul>
 <!-- Technology news-->
 <h3>Technology News Sources </h3>
         <ul>
            {{ macro.displaySourceList(technology_sources)}}
        </ul>
        <!-- Business News -->
        <h3> Business News Source</h3>
         <ul>
            {{ macro.displaySourceList(business_sources)}}
        </ul>
    <!--Politics News-->
    <h3>Politics News Source</h3>
      <ul>
          {{macro.displaySourceList(politics_sources)}}
      </ul>
 </div>
 {% endblock%}