{% extends 'base.html'%}
{% import 'macros.html' as macro%}

 <!--Content block-->  
    {% block content %}    
 <div class="container">
     <!--Entertainment News-->
 <h3>Entertainment News Sources</h3>
 <hr>
 {{ macro.displaySourceList(Entertianment_sources)}}
 
 <!-- Technology news-->
 <h3>Technology News Sources </h3>
 <hr>
 {{ macro.displaySourceList(Technology_sources)}}
        
 <!-- Business News -->
 <h3> Business News Source</h3>
 <hr>
 {{ macro.displaySourceList(Business_sources)}}
    
  <!--Sports News-->
 <h3>Sports News Source</h3>
 <hr>
 {{macro.displaySourceList(Sports_sources)}}
    
 </div>
 {% endblock%}